/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Lato', sans-serif;

}
.gradient-bg{
    background: linear-gradient(90deg, #010208 0%, #040615 50%, #020931 100%);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    
}

.grad1{
    /* circular gradient 6D3FFF to 9878FF with outter blur */
    background: radial-gradient(50% 50% at 50% 50%, #6D3FFF 0%, #bfacff 100%), #6D3FFF;
    filter: blur(100px);
    /* bleding mode */
    mix-blend-mode: hard-light;
    position: absolute;
    width: 300px;
    height: 300px;
    /* position to bottom right */
    bottom: -100px;
    right: -100px;
    animation: moveX 10s ease-in-out infinite alternate;
}
/* Liner movement in x direction */
@keyframes moveX {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(100px);
    }
}
/* Rotate and move in y direction */
@keyframes moveY {
    0% {
        transform: rotate(0deg) translateY(-100px);
    }
    100% {
        transform: rotate(360deg) translateY(100px);
    }
}

@keyframes moveXY {
    0% {
        transform: rotate(0deg) translate(-100px, -100px);
    }
    100% {
        transform: rotate(360deg) translate(100px, 100px);
    }
}

/* grad 2 1A1538 */

.grad2{
    /* circular gradient 6D3FFF to 9878FF with outter blur */
    background:#5b3fba;
    filter: blur(100px);
    /* bleding mode */
    mix-blend-mode: hard-light;
    position: absolute;
    width: 300px;
    height: 300px;
    /* position to bottom right */
    top: -100px;
    left: -100px;
    animation: moveXY 30s ease-in-out infinite alternate;
}

.grad3{
    /* circular gradient 6D3FFF to 9878FF with outter blur */
    background: radial-gradient(50% 50% at 50% 50%, #6D3FFF 0%, #bfacff 100%), #6D3FFF;
    filter: blur(100px);
    /* bleding mode */
    mix-blend-mode: hard-light;
    position: absolute;
    width: 300px;
    height: 300px;
    /* position to bottom right */
    bottom: -100px;
    left: -100px;
   
    animation: anotherRandomXY 30s ease-in-out infinite alternate; 
    /* Change the transform origin to look alike different */
    /* transform-origin: 50% 50%; */
    opacity: 0.07;
}

.grad4{
    /* circular gradient 6D3FFF to 9878FF with outter blur */
    background: radial-gradient(50% 50% at 50% 50%, #6D3FFF 0%, #bfacff 100%), #6D3FFF;
    filter: blur(100px);
    /* bleding mode */
    mix-blend-mode: hard-light;
    position: absolute;
    width: 300px;
    height: 300px;
    /* position to bottom right */
    top: -100px;
    right: -100px;
    animation: randomXY 30s ease-in-out infinite alternate;
    opacity: 0.07;
}

.name{
    /* Name is glassy effect */
    background: linear-gradient(90deg, #ffffff18 0%,#ffffff00 100%);
    backdrop-filter: blur(10px);
    /* bleding mode */
    /* mix-blend-mode: hard-light; */
    position: absolute;
    width: 170px;
    height: 60px;
    line-height: 60px;
    border-radius: 60px;
    /* position to top right */
    top: 20px;
    right: 20px;
    color: #fff;
    text-align: center;
    z-index: 1;
    font-size: 16px;
    /* Border  */
    border: 3px solid rgba(255, 255, 255, 0.1);
}
@keyframes randomXY {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    25% {
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
    }
    50% {
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
    }
    75% {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}

@keyframes anotherRandomXY{
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    25% {
        top: 12.5%;
        left: 12.5%;
        transform: translate(-50%, -50%);
    }
    50% {
        top: 12.5%;
        left: 87.5%;
        transform: translate(-50%, -50%);
    }
    75% {
        top: 87.5%;
        left: 12.5%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 87.5%;
        left: 87.5%;
        transform: translate(-50%, -50%);
    }

}