body{
	background: #eee;
}
nav.navbar{
	border-radius: 0;
	background: transparent;
border: none;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover {
    color: #fff;
    
    margin-right: 22px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ddd;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:active,.navbar-default .navbar-nav>li>a:visited {
    color: #ddd;
    text-transform: uppercase;
    font-weight: bolder;
}



nav.navbar-white{
	border-radius: 0;
	background: #fff;
border: none;
-webkit-box-shadow: -1px 2px 5px 0px rgba(235,235,235,1);
-moz-box-shadow: -1px 2px 5px 0px rgba(235,235,235,1);
box-shadow: -1px 2px 5px 0px rgba(235,235,235,1);
}

nav.navbar-white .navbar-brand{
	color: #000;
}



.navbar-white .navbar-nav>.active>a, .navbar-white .navbar-nav>.active>a:focus, .navbar-white .navbar-nav>.active>a:hover {
    color: #fff !important;
    text-transform: none;
    font-weight: normal;
    background-color: steelblue;
}
.navbar-white .navbar-nav>li>a,.navbar-white .navbar-nav>li>a:hover,.navbar-white .navbar-nav>li>a:active,.navbar-white .navbar-nav>li>a:visited {
    color: #000;
       text-transform: none;
    font-weight: normal;
}



.main-div{
height: 720px;
background-size: cover;
    background: -webkit-linear-gradient(left,#49ABCA),0 0;
    background: -o-linear-gradient(right,#49ABCA,#214381);
    background: -moz-linear-gradient(right,#49ABCA,#214381);
    background: linear-gradient(to right,#49ABCA,#214381);
}

.main-div>.row{
	margin-top: 10em;
	font-family: 'Montserrat', sans-serif;
}

.main-div .des{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 31px;
	line-height: 48px;
}

.main-div .des>span{
	color: #ddd;
	font-size: 16px;
	line-height: 22px;
}
.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color:#1FA36F;
    border-color: #1FA36F;
}
.btn-oii{
	padding: 12px 45px;
}
.whiteBG{
	background: #fff;
	padding: 12px 45px;

}

.sub-bro{
	border: 1px solid #ddd;
	padding: 6px;
	border-bottom-color: transparent;
}
.bro-table tr td{
	background: #fff;
}
.sup-div{
	border-radius: 3px;
}

.eg-basic-input{

}
.eg-basic-input input{
	width: 75px;
	margin: 5px;
}
pre code{
	border-radius: 0;
	border: none;
}

body {
  position: relative;
}

@media screen and (max-width: 500px){
	nav.navbar{
	border-radius: 0;
	background: #fff;
border: none;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover {
    color: #000;
    
    margin-right: 2px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #333;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:active,.navbar-default .navbar-nav>li>a:visited {
    color: #333;
    text-transform: uppercase;
    font-weight: bolder;
}


}
